@font-face{
  font-family: "BYekan";
  src: url(/assets/fonts-BYekan/BYekan-webfont.eot); format("eot");
  src: url(/assets/fonts-BYekan/BYekan-webfont.woff); format("woff");
  src: url(/assets/fonts-BYekan/BYekan-webfont.ttf); format("truetype");
  font-weight: normal;
  font-style: normal;

}

*{
  direction: rtl;
  /* font-family: "BYekan"; */
}

.w_100{
    width: 100%  !important;
}

 @media( min-width:600px ){ 
    .top_navbar{
        box-shadow: 0 0 50px gold !important;
    }

    #top_action_section{
        display: flex !important;
        align-items: center !important;
    }
 } 

 .users_list_item .users_list_arrow_icon{
    transition: all 400ms ease;   
   
   }

 .users_list_item.active .users_list_arrow_icon{
    transform: rotate(180deg)   
   
   }

   .users_list_item.active , .users_list_item.active .collapsible-header{
    background-color: grey;
    
   }

   table.highlight > tbody > tr:hover {
    background-color:#bbdefb ;
  }

  .container{
    width: 100% !important;
  }

  .add_user-modal_back{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
    left: 0;
    top: 0;
    z-index: 999;

  }

 .add_user_modal{
  position: fixed;
  height: 70vh;
  background-color: white;
  bottom: 0;
  z-index: 1000;
  border-radius: 30px 30px 0 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -70vh;
 }

 .add_user_modal.show{
  box-shadow: 0 0 10px blue;
  bottom: 0vh;
 }

 .sidenav_link_icon{
  margin: 0 0 0 25px  !important; 
 }